#wp-home {
    margin-top: 15px;
    margin-bottom: 30px;
}

/* Form booking */

#form-booking-home {
    font-family: "Segoe UI", sans-serif;
    color: white;
    width: 960px;
    min-height: 125px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    position: relative;
}

#form-booking-home>.form-booking-content {
    background-color: #15397f;
    width: 600px;
    border-radius: 10px;
    padding: 15px 30px;
    position: absolute;
}

.form-booking-content>.form-booking-slogan>.slogan-title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.form-booking-content>.form-booking-slogan>.slogan-text {
    font-size: 20px;
}

.btn-booking-home {
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(86deg, #afd2f1 11.93%, #fdfdfd 41.38%, #efdfec 55.91%, #afd2f1 89.39%);
    border-radius: 6px;
    transition: all .3s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;

}

.btn-booking-home a {
    text-decoration: none;
    color: black;
}

/* Service list */

.category-title {
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #15397F;
    text-transform: uppercase;
    padding-left: 9px;
    position: relative;
}

.category-title::after {
    content: "";
    width: 5px;
    height: 22px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: #a0c9eb;
}

#wp-service {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#wp-service>.service-content {
    margin-bottom: 55px;
}

.service-list {
    width: 960px;
    margin: 0 auto;
}

.service-list>ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.service-list>ul>li {
    flex-basis: 33.33%;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.service-list>ul>li>.service-item {
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-item>.service-img img {
    width: 100%;
    height: 275px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.service-item>.service-img {
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.service-item>.service-img:hover img {
    transform: scale(1.1);
}

.service-item>.service-info {
    margin-left: 15px;
}

.service-item>.service-info {
    font-family: "Segoe UI", sans-serif;
    color: #15397F;
    position: absolute;
    bottom: 5px;
}

.service-item>.service-info a {
    text-decoration: none;
}

.service-item>.service-info>.service-label {
    font-size: 26px;
    font-weight: 700;
}

/* Loyalty */

#wp-loyalty {
    font-family: "Segoe UI", sans-serif;
    width: 960px;
    margin: 0 auto;
}

.loyalty-title {
    font-weight: 700;
    font-size: 28px;
    color: #15397F;
    text-transform: uppercase;
    padding-left: 9px;
    position: relative;
}

.loyalty-title::after {
    content: "";
    width: 5px;
    height: 22px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: #a0c9eb;
}

.loyalty-subtitle {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #15397f;
}

.loyalty-img {
    margin-top: 20px;
}

.loyalty-img img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.loyalty-img {
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.loyalty-img:hover img {
    transform: scale(1.05);
}

/* Top staff */

#wp-top-staff {
    font-family: "Segoe UI", sans-serif;
    margin: 0 auto;
    margin-top: 55px;
    width: 960px;
    margin-bottom: 50px;
    overflow: hidden;
}

.top-staff-content>.top-staff-title {
    font-weight: 700;
    font-size: 28px;
    color: #15397F;
    text-transform: uppercase;
    padding-left: 9px;
    position: relative;
}

.top-staff-title::after {
    content: "";
    width: 5px;
    height: 22px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: #a0c9eb;
}


.top-staff-content>.top-staff-subtitle {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #15397f;
}

.top-staff-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.top-staff-list {
    width: 960px;
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    cursor: grab;
    overflow: scroll;
}

.top-staff-list ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.top-staff-list ul li {
    flex: 0 0 calc((960px - 40px) / 3.5);
    box-sizing: border-box;
}

.staff-item>.staff-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.staff-item>.staff-img {
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.staff-item>.staff-img:hover img {
    transform: scale(1.05);
}