.schedule-create-container {
    padding: 20px;
    background-color: #f4f6f8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.staff-selection-section,
.date-picker-section,
.shift-selection-section,
.submit-button-section {
    margin-bottom: 20px;
}

.staff-selection-section h2,
.date-picker-section h2,
.shift-selection-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

.staff-list {
    display: flex;
    flex-wrap: wrap;
}

.staff-item-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.staff-item-schedule.selected {
    background-color: #d4f1f4;
    box-shadow: 0 4px 8px rgba(0, 158, 167, 0.4);
}

.staff-image-schedule {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
}

.date-picker-section input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
}

select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
}

.submit-button-section {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}